*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.carousel-container{
    align-self: auto;
    width: 60%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative; 

}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 300px;
    

}
#prevBtn{
    position: absolute;
    top:20%;
    z-index: 10;
    left: 19%;
    font-size: 30px;
    color: black;
    opacity: 0.9;



}


#nextBtn{
    position: absolute;
    top:20%;
    z-index: 10;
    right: 19%;
    font-size: 30px;
    color: black;
    opacity: 0.9;
 


}

#nextnextBtn{
    position: absolute;
    top:20%;
    z-index: 10;
    right: 15%;
    font-size: 30px;
    color: black;
    opacity: 0.9;
  


}

#prevprevBtn{
    position: absolute;
    top:20%;
    z-index: 10;
    left: 15%;
    font-size: 30px;
    color: black;
    opacity: 0.9;
   

}